body{
    margin: 0;
    background: linear-gradient(to right, #11554a, #21836a, #3bc5a3);
    overflow:hidden;
}
h1{
    text-align: center;
    font-size: 140px;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 200px;
    padding-top: 110px;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:12px;
    padding-left: 20px;
    background:linear-gradient(to right, #11554a, #21836a, #3bc5a3);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 5px solid #000000ff;
    width: 100%;
}
li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    transition: all 0.4s ease;
    will-change: transform;
    border: 1px solid transparent; 
}
li a:hover{
    color: #ffffffff;
    background-color: #22a584ff;
    transform: scale(1.15);
    box-shadow: 0 0 10px #3bc5a3, 0 0 20px #3bc5a3, 0 0 30px #000000ff;
    border-radius: 10px;
    border: 1px solid #000000ff;
}
#job{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    padding-right: 20px;
    padding-top: 10px;
    position: absolute;
    top: 0px;
    right: 150px;
}
div p{
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    margin: 0;
    padding: 0;
    top: 500px;
    left: 800px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
}
.glass1{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px;
    color: white;
    position: absolute;
    width: 100px;
    top: 420px;
    left: 350px;
    transition: all 0.3s ease;
}
.glass1:hover{
     backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.2);
    

}
.glass2{
     background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px;
    color: white;
    position: absolute;
    width: 130px;
    top: 350px;
    left: 700px;
    transition: all 0.3s ease;
}
.glass2:hover{
     backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.2);
}

/* Loading screen styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000; 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#loading-screen.hidden{
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
#progression-bar1{
    position:absolute;
    width:75vw;
    height:3vh;
    background-color:#ffffff;
    top:50%;
    left:15%;
    border-radius: 10px;
}
#progression-bar2{
    position:absolute;
    width:0px;
    height:3vh;
    background-color:#22a584ff;
    animation: load 5s infinite ease-out;
    border-radius: 10px;
}
@keyframes load{
    0% {width: 0px;}
    20% {width: 270.5px;}
    50% {width: 541px;}
    65% {width: 811.5px;}
    85% {width: 1050px;}
    100% {width: 75vw;}
}
