body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #11554a, #21836a, #3bc5a3);
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    font-size: 140px;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 200px;
    padding-top: 110px;
}

/* Navbar section */
nav{
    top: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
    border-bottom: 5px solid #000000ff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:12px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    transition: all 0.4s ease;
    will-change: transform;
    border: 1px solid transparent; 
}
li a:hover{
    color: #ffffffff;
    background-color: #22a584ff;
    transform: scale(1.15);
    box-shadow: 0 0 10px #3bc5a3, 0 0 20px #3bc5a3, 0 0 30px #000000ff;
    border-radius: 10px;
    border: 1px solid #ffffffff;
}


/* Header section */
#job{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    margin-left: 30vw;
}

/* Image section */
img{
    width: 23vw;
    height: 54vh;
    image-rendering: auto;
    border: 3px solid #3bc5a3;
    border-radius: 50px;
    transition: all 0.4s ease;
    margin-left: 7vw;
}
img:hover{
    box-shadow: 0 0 10px #3bc5a3, 0 0 20px #3bc5a3, 0 0 30px #72ebb8ff;
    transform: scale(1.05);
    border: 3px solid #3ac986ff;
}


/* Info section */
.container{
    margin-top: 10vw;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
}
.Text{
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-left: 2vw;
    margin-top: 2vw;
    width: fit-content;
    max-width: 40vw;
    height:fit-content; 
    max-height: 60vh;
    text-align: justify;
    line-height: 1.5;
}
.Skills{
    color: white;
    font-family: 'Press Start 2P', cursive;
    width: fit-content;
    max-width: 42vw;
    height:fit-content; 
    max-height: 60vh;
    display: inline-block;
    margin-left: 2vw;
}

#Titles{
    font-size: 1.8rem;
    font-weight: bold;
}
.Skills p{
    font-size: 1.2rem;
}


#Hello {
  font-size: 1.4rem;
  color: #8ae75f;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
}

#Name {
  font-size: 1.2rem;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#Info {
  font-size: 1.1em;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.project{
    display:flex;
    justify-content: center;
    width: 100%;
    height:auto;
}
.project p{
    margin-top: 20vw;
    font-size: 5rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    transition: all 0.4s ease;
    border: 5px solid rgba(66, 219, 156, 0.89);
    border-radius: 20px;
    background-color: #22a584ff;
}
.project p:hover{
    color:#22a584ff;
    transform: scale(1.1);
    background-color:white;

}
/* Loading screen styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display : none;
}
#loading-screen.hidden{
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
#progression-bar1{
    position:absolute;
    width:75vw;
    height:3vh;
    background-color:#ffffff;
    top:50%;
    left:15%;
    border-radius: 10px;
}
#progression-bar2{
    position:absolute;
    width:0px;
    height:3vh;
    background-color:#22a584ff;
    animation: load 5s infinite ease-out;
    border-radius: 10px;
}
@keyframes load{
    0% {width: 0px;}
    20% {width: 270.5px;}
    50% {width: 541px;}
    65% {width: 811.5px;}
    85% {width: 1050px;}
    100% {width: 75vw;}
}

#project1{
    
}